
{% include 'header.tmpl' %}
<!-- Блок меню -->
{% include 'left-column.tmpl' %}
<!-- Блок основного контента -->
{% include 'right-column.tmpl' %}
<!-- Нижняя часть главного блока -->
{% include 'brand.tmpl' %}
{% include 'instagram.tmpl' %}
{% include 'network.tmpl' %}
<!-- Футер -->
{% include 'footer.tmpl' %}