		<div class="brand">
			<div class="container brand-wrapper"><img src="./img/brand.png" alt=""><img src="./img/brand.png" alt=""><img src="./img/brand.png" alt=""><img src="./img/brand.png"
				  alt=""><img src="./img/brand.png" alt=""><img src="./img/brand.png" alt=""><img src="./img/brand.png" alt=""><img src="./img/brand.png"
				  alt=""></div>
		</div>