<section class="menu-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-12">
					<h2>Category</h2>
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">about us</a></li>
						<li><a href="">eshop</a></li>
						<li><a href="">Features</a></li>
						<li><a href="">new collection</a></li>
						<li><a href="">blog</a></li>
						<li><a href="">contact</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-12">
					<h2>Our Accaunt</h2>
					<ul>
						<li><a href="">Your Account</a></li>
						<li><a href="">Personal Information</a></li>
						<li><a href="">Addresses</a></li>
						<li><a href="">Discount</a></li>
						<li><a href="">Order history</a></li>
						<li><a href="">Addresses</a></li>
						<li><a href="">Search Terms</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-12">
					<h2>Our Support</h2>
					<ul>
						<li><a href="">Site Map</a></li>
						<li><a href="">Search Terms</a></li>
						<li><a href="">Advanced Search</a></li>
						<li><a href="">Mobile</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">Mobile</a></li>
						<li><a href="">Addresses</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-12">
					<h2>Newsletter</h2>
					<p>Join thousands of other people subscribe to our news</p>
					<form class="form-bottom"><input type="text" placeholder="INSERT EMAIL"><input type="submit" value="SUBMIT"></form><img src="./img/payment.png"
					  alt=""></div>
				<div class="col-md-3 col-sm-12">
					<h2>About Us</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
						natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
						eu, pretium quis, sem. </p>
					<h3>Phone: <a href="tel:1-999-342-9876">1-999-342-9876</a></h3>
					<h3>e-mail: <a href="mailto:info@surfhouse.com">info@surfhouse.com</a></h3>
				</div>
			</div>
		</div>
	</section>
	</div>
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-7 col-sm-7 mr-auto col-md-8">
					<p>&copy; 2014 SURFHOUSE. All rights reserved - Designed by theuncreativelab.com</p>
				</div>
				<div class="col-sm-auto col-5"><a href=""><img src="./img/facebook-icon.png" alt=""></a><a href=""><img src="./img/twitter-icon.png" alt=""></a><a href=""><img src="./img/pinterest-icon.png" alt=""></a>
					<a
					  href=""><img src="./img/insta-icon.png" alt=""></a><a href=""><img src="./img/youtube-icon.png" alt=""></a></div>
			</div>
		</div>
	</footer>
	<script src="./js/scripts.js"></script>
	<?php
		echo "<pre>";
		print_r($_POST);
		print_r($_SESSION);
		print_r($_COOKIE);
		print_r($_SERVER);
		echo "</pre>";
	?>
</body>

</html>