<section>
			<div class="container instagram-feed">
				<h2><img src="./img/insta-icon-black.png" alt="">Instagram feed:&nbsp;<span class="text-small">#surfhouse</span></h2>
				<div
				  class="insta-img-wrapper"><img src="./img/Livello-25.png" alt=""><img src="./img/Livello-26.png" alt=""><img src="./img/Livello-27.png" alt="">
					<img
					  src="./img/Livello-28.png" alt=""><img src="./img/Livello-29.png" alt=""><img src="./img/Livello-30.png" alt=""></div>
	</div>
	</section>