<main>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<nav class="menu">
							<h2>menu<span></span></h2>
							<ul>
								<li class="active"><a href="/">home</a></li>
								<li><a href="#">catalog</a></li>
								<li><a href="#">sale</a></li>
								<li><a href="#">blog</a></li>
								<li><a href="#">about</a></li>
								<li><a href="#">contact</a></li>
							</ul>
						</nav>
						<div class="banner">
							<?php if (!$isAuth): ?>
								<form action="index.php" method="post">
									<label for="login">Логин</label><input type="text" id="login" name="login"><br>
									<label for="pass">Пароль</label><input type="password" id="pass" name="pass"><br>
									<label for="rememberme">Запомнить: </label><input type="checkbox" name="rememberme" id="rememberme" />
									<input type="submit" name="SubmitLogin" value="Войти" /> <a href="/register/">Зарегистрироваться</a>
								</form>
							<?php endif; ?>
							<br>
							<?php if ($isAuth): ?>
								<form action="index.php" method="post">
									<p>Вы авторизованы под логином <?=$_SESSION['login'] ?></p>
									<input type="submit" name="ExitLogin" value="Выйти" />
								</form>
							<?php endif; ?>
						</div>
						<div class="banner"><a href="#"><img src="./img/Now-is-open.png" alt=""></a></div>
					</div>