<div class="social-link">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<a href="#">
						<div class="fb"></div>
					</a>
				</div>
				<div class="col-4">
					<a href="#">
						<div class="twi"></div>
					</a>
				</div>
				<div class="col-4">
					<a href="#">
						<div class="pint"></div>
					</a>
				</div>
			</div>
		</div>
	</div>