



							<h2>new products</h2>
							<div class="product-wrapper">
								{% for d in data %}
									<a href="good/{{ d.id_good }}/">
										<div class="product-item">
											<div class="lable-new"></div><img src="{{ d.foto }}" alt="">
											<div class="product-item__description">
												<div class="product-name">
													<p>{{ d.name }}</p>
												</div>
												<div class="product-price">
													<p>$.{{ d.price }}</p>
												</div>
											</div>
										</div>
									</a>
								{% endfor %}
							</div>