<div class="col-md-9 col-xs-12 page-content">
						<section class="products">
							<h2>new products</h2>
							<div class="product-wrapper">
								{% include 'new-product.tmpl' %}
							<span class="button" id="loadmore">Load more</span>
							</div>
						</section>
					</div>
				</div>
			</div>
		</main>